<div header></div>
<div id = "page-content-wrapper">
    <div class="container">
    <h3 class ="well"> Manage Users </h3>
        <form name="frm_addUser">

            <div class="col-md-6">
                <div class="form-group">
                    <!-- <label> {{ isEditLang == true ? 'Edit Language' : 'Add Language' }}</label> -->
                    <label> Username</label>
                    <input type="text" name="userName" class="form-control" ng-model="adduser.username" required>
                    <label> Password</label>
                    <input type="text" name="password" class="form-control" ng-model="adduser.password" required>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="btn-group">
                    <button id="saveUser"  class="btn btn-warning" type="submit" ng-click="addUser(username,password)">Add User</button>
                </div>
                <div class="btn-group">
                    <a id="cancelOrder"  data-ng-click="adduser.username='';adduser.password=''; " class='btn btn-danger'>Cancel</a>
                </div>
            </div>

        </form>



            <table datatable='ng' class="row-border hover">
                 <!--<dtable options="options" rows="data" class="material">-->
                <thead>
                <th>Sr No</th>
                <th>User</th>
                <th>password</th>
                <th>Action</th>
                </thead>

                <tbody>
                    <tr ng-repeat="user in userlist">
                        <td>{{$index+1}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-primary" href="javascript:" ng-confirm-click="Are you sure to delete this record ?" confirmed-click ="deleteRec(user.id)">Delete</a></td>
                    </tr>
                </tbody>
                <!--</dtable>-->
            </table>
    </div>
</div>